$background-color: #F2E3C6;
$error-bg-color: #F39C12;
$input-border-color: #545454;
$btn-color: #D35400;
$font-size-small: 0.9em;

form {
    display: flex;
    flex-direction: column;
    background-color: $background-color;
    border: 2px solid $input-border-color;
    border-radius: 5px;
    padding: 30px;
    width: 70%;
    margin: auto;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid $input-border-color;
    font-size: $font-size-small;
}

#Urlerror {
    background-color: $error-bg-color;
    color: #fff;
    text-align: center;
    font-size: 1em;
    padding: 8px;
    margin-top: 15px;
    width: 80%;
    margin: 10px auto;
    display: none;
}

#submitButton {
    padding: 10px 25px;
    background-color: $btn-color;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
    margin-top: 10px;
}

#submitButton:hover {
    background-color: darken($btn-color, 10%);
}

.results-style {
    background-color: #F9F9F9;
    padding: 10px;
    font-size: 1.1em;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}

#results {
    font-weight: bold;
    text-decoration: underline;
}
